body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(35, 35, 245);
    text-align: center;
}
nav a{
    padding : 10px 15px;
    margin: 0.3%;
    background-color: rgb(13, 147, 224);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a:hover{
    background-color: red;
}
.pagina-inicio{
    background-color: rgb(47, 47, 238);
    width: auto;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
@media (max-width:700px) {
    .inicio-grid{
        grid-template-columns: 1fr;
    }
}
.inicio-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    align-items: start;
}

/*-------------------------------------------------------------------------------*/

.cabecera{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
}
.cabecera-centro h1{
    margin: 0 0 10px 0;
    color: white;
}
@media (max-width: 700px){
    .cabecera{
        height: auto;
        padding: 20px 10px;
    }  
    .escudo{
        position: static;
        transform: none;
        width: 100px;
        margin-bottom: 10px;
    }
    .cabecera-centro{
        position: static;
        transform: none;
        text-align: center;
    }
}
.cabecera-centro{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.escudo{
    width: 120px;
    height: auto;
}
.bloque{
    background-color: rgb(255,255,255,0.1);
    padding: 2%;
    border-radius: 15px;
    color: white;
}
.bloque h2{
    text-align: center;
}

/*-------------------------------------------------------------------------------*/

.racha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1%;
}
.racha a{
    text-decoration: none;
}
.racha a:hover .cuadrado-resultado{
    transform: scale(1.1);
    transition: transform 0.2s;
    cursor: pointer;
}
.cuadrado-resultado{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.cuadrado-resultado.ultimo{
    border: 3px solid black;
}
.v{ background-color: green;}
.e{ background-color: yellow;}
.d{ background-color: red;}

/*-------------------------------------------------------------------------------*/

#partidos-mes{
    list-style: none;
    padding: 0;
}
#partidos-mes li{
    margin: auto auto auto auto;
    font-size: 120%;
}
#partidos-mes a{
    color: white;
    text-decoration: none;
}
#partidos-mes a:hover{
    text-decoration: underline;
}

/*-------------------------------------------------------------------------------*/

.tabla-clasificacion{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    padding: 2%;
    font-size: 120%;
}
.bloque-clasificacion h2{
    text-align: left;
}

/*-------------------------------------------------------------------------------*/

.bloque-foto{
    padding: 0;
    overflow: hidden;
}
.foto-equipo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.foto-equipo img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/*-------------------------------------------------------------------------------*/

.pagina-resultados{
   background-color:  rgb(47, 47, 238);
}
.pagina-resultados ul li a{
    color: white;
    text-decoration: none;
}  
.pagina-resultados h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pagina-resultados ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    width: 90%;
    margin: auto;
}
.pagina-resultados li{
    margin: 10% auto auto auto;
    padding: 2%;
    width: auto;    
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pagina-resultados a:hover{
        text-decoration: underline;
}

/*-------------------------------------------------------------------------------*/

.pagina-partidos{
    background: rgb(47, 47, 238);
    padding: 10px auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: row;
    flex-direction: column;
    align-items: center;
}
.pagina-partidos li a{
    list-style-type: none;
    padding: 0;
    color : white;
    text-decoration: none;
    list-style: none;
}
.pagina-partidos ul{
    padding-left: 0;
    list-style: none;
}

/*-------------------------------------------------------------------------------*/

.pagina-jugador ul{
    list-style: none;
    padding-left: 0;
}
.pagina-jugador{
    width: auto;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-align: center;
}

/*-------------------------------------------------------------------------------*/

.pagina-jugadores {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.pagina-jugadores h1{
    color: white;
}

.plantilla-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 90%;
    margin: auto auto;
}
.lista-jugadores {
    grid-column: 1 / -1; /* ocupa las 3 columnas */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
}
.lista-jugadores a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.lista-jugadores li {
    background-color: rgb(13,147,224);
    font-size: large;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    width: 200px;
    margin: auto auto;
}
.ranking h3{
    color: white;
}
.ranking-goles {
    grid-column: 1;
}
.ranking a{
    text-decoration: none;
    color: white;
}
.ranking-goles ul{
    padding-left: 0;
    list-style: none;
    color: white;
    text-decoration: none;
}
.ranking-asistencias {
    grid-column: 2;
}
.ranking-asistencias ul{
    padding-left: 0;
    list-style: none;
    color: white;
    text-decoration: none;
}
.ranking-total {
    grid-column: 3;
}
.ranking-goles-asistencias ul{
    padding-left: 0;
    list-style: none;
    color: white;
    text-decoration: none;
}
.lista-jugadores a:hover,
.ranking a:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {
    .lista-jugadores,
    .plantilla-grid {
        grid-template-columns: 1fr;
    }
}

/*-------------------------------------------------------------------------------*/


.info-jugador{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.info-jugador img{
  width: 200px;
  border-radius: 15px;
}
.info-jugador h2{
    margin: 30px 2%;
}

.campo{
  position: relative;
  width: 300px;
  height: 450px;
  margin: 0 2%;
  background: green;
  border-radius: 10px;
  border: 3px solid white;
}

/* Puntos */
.pos{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid black;
}

/* Colores */
.buena{ background: greenyellow; }
.regular{ background: orange; }
.mala{ background: red; }

/* Posiciones en el campo */
.por{ bottom: 10px; left: 50%; transform: translateX(-50%); }
.dfi{ bottom: 100px; left: 10%; }
.dfc{ bottom: 100px; left: 50%; transform: translateX(-50%); }
.dfd{ bottom: 100px; right: 30px; }
.mci{ bottom: 220px; left: 10%; ; }
.mcc{ bottom: 220px; left: 50%; transform: translateX(-50%); }
.mcd{ bottom: 220px; right: 30px; }
.dci{ top: 90px; left: 10%; }
.dcc{ top: 90px; left: 50%; transform: translateX(-50%); }
.dcd{ top: 90px; right: 30px; }

.jugador-inferior{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 🔑 misma altura arriba */
    gap: 50px;
    width: 100%;
    margin-top: 2%;
}
